* {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 80vh;
  width: 100%;
  max-width: 1200px;
  background: rgb(29, 29, 29);
  color: #fff;
  margin: auto;
  display: block;
  padding: 0 15px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav {
  width: 50%;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  height: 100%;
  padding: 10px;
}

nav ul li a:hover {
  height: 100%;
  padding: 10px;
  background-color: lightcyan;
  color: #000;
}

main {
  max-width: 80%;
  margin: auto;
}

.name {
  font-size: 1.8rem;
}

.intro,
.others h5 {
  text-align: center;
  margin: 50px 0 0 0;
  font-size: 1.5rem;
}

section {
  width: 100%;
  display: block;
  text-align: center;
}

.images {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
  width: 100%;
}

figcaption {
  border: 1px solid;
  width: 60%;
  margin: auto;
}

.services {
  width: 50%;
  margin: 50px auto;
  text-align: left;
}

.services-info {
  display: block;
  text-align: left;
}

.services-info li {
  list-style-type: disc;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
}

@media (max-width: 992px) {
  body {
    text-align: center;
  }
  #home {
    display: flex;
    flex-direction: column;
  }
  .mobile,
  .home {
    display: block;
    margin: auto;
  }
  header,
  nav {
    display: block;
    margin: auto;
  }

  img {
    width: 100%;
  }

  nav ul {
    display: block;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }

  figcaption {
    font-size: 1rem;
    min-height: 80%;
    min-width: 80%;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .flex {
    display: flex;
    width: 80%;
    flex-direction: column;
  }
}
